@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        font-family: 'SUSE',sans-serif;
    }

    .cuisines:hover ~ .cuisine-list {
        display:grid;
    }
    .cuisine-list:hover {
        display:grid;
    }
    .types:hover ~ .type-list {
        display:grid;
    }
    .type-list:hover {
        display:grid;
    }
    .main-results {
        background-size: ;
        background-positon: left;
        background-repeat: ;
    }
    .recipe-bg {
        background: url('/images/main-image.png');
        background-positon: left;
        background-repeat: no-repeat;
        background-size:cover;
    }
}